html {
    font-family: "TX02 Nerd Font Mono";
}
#dms-table {
    font-size: 8px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.dms-table-header {
    width: 15px;
    height: 15px;
    font-size: 8px;
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}
.htmx-request .htmx-indicator {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
.htmx-request.htmx-indicator {
    opacity: 1;
}
