:root {
    --dms-box-height: 0.5vw;
    --dms-table-font-size: 1em;
    --variant-view-font-size: 0.85em;
    --background-color: white;
}

html {
    font-family: "Berkeley Mono";
    font-weight: 400;
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--background-color);
}

h1 {
    font-family: "Berkeley Mono";
    font-weight: 900;
    font-style: bold;
    font-size: 2em;
}
h1 #page-title-start {
    color: #d00125;
}
h1 #page-title-end {
    color: midnightblue;
}

h2 {
    font-weight: 750;
    font-style: bold;
    font-size: 2em;
}

form,
select,
input,
button,
option {
    font-family: "Berkeley Mono";
    font-weight: 600;
    font-size: var(--dms-table-font-size);
}
input {
    margin: 0.25vw 0.25vh;
}
button {
    margin: 0.25vw 0.25vh;
    padding: 0.75em 0.75em;

    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    transition: background-color 0.4s ease;
}
select {
    height: fit-content;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    transition: background-color 0.4s ease;
}
button:hover,
select:hover {
    background-color: #e3e3e3;
    transition: background-color 0.3s ease;
}
#selection-form {
    display: flex; /* Make the container a flexbox */
    align-items: center; /* Vertically center align the select boxes */
    margin-bottom: 1vh;
}

.select-div {
    display: flex;
    flex-direction: column; /* Keep label and select stacked inside each div */
    padding: 0 1em; /* Adjust padding as necessary */
}
.select-div select,
.select-div label {
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#full-view {
    display: flex;
    flex-direction: row;
    /* overflow-x: auto; */
    height: 100vh;
}

#dms-table {
    line-height: var(--dms-box-height);
    border-collapse: collapse;
    height: 100%;
    table-layout: fixed;
}

#dms-table-container {
    flex: 0 1 auto;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    width: 45vw;
    /* width: 100%; */
}

#dms-table-container::-webkit-scrollbar {
    display: none;
}
#full-variant-view {
    flex: 0 1 auto;
    width: 75vw;
    height: 100%;
}
#variant-view {
    flex: 0 1 auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

#variant-view-body {
    flex: 0 1 auto;
    height: 100%;
    width: min-content;
    margin: 0vw, 1vh;
}

#structure {
    flex: 0 1 auto;
    width: 100%;
    position: relative;
    height: 75%;
}
#variant-view tbody td,
#variant-view tbody th {
    /* display: block; */
    font-size: var(--variant-view-font-size);
    width: var(--variant-view-font-size);
    height: var(--variant-view-font-size);
    padding-top: 1vh;
    padding-right: 1vw;
}

#variant-view tbody th {
    font-weight: 500;
    text-align: left;
}
#variant-view tbody td {
    font-weight: 400;
    text-align: center;
}

#dms-table-container thead th,
#dms-table-container tbody td,
#dms-table-container tbody th {
    width: var(--dms-box-height);
    height: var(--dms-box-height);
    text-align: center;
    font-weight: 500;
}

#dms-table-container tbody th {
    padding: var(--dms-box-height);
    font-size: var(--dms-table-font-size);
}
#dms-table-container thead th {
    /* display: block; */
    font-size: var(--dms-table-font-size);
    padding: var(--dms-box-height);
    position: sticky;
    background-color: white;
    top: 0; /* Don't forget this, required for the stickiness */
}

.dms-cell:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    z-index: 1;
    position: relative;
    transform: scale(1.1);
}

.dms-cell {
    transition:
        box-shadow 0.2s ease,
        background-color 0.2s ease,
        transform 0.2s ease;
    /* Smooth transition for hover and unhover */
}

.dms-cell-no-data {
    background-color: #f1f1f1;
}

.htmx-indicator {
    opacity: 0;
    display: none;
    transition: opacity 250ms ease-in-out;
}

.htmx-request .htmx-indicator {
    opacity: 1;
    display: inline;
    transition: opacity 250ms ease-in-out;
}

.htmx-request.htmx-indicator {
    display: inline;

    opacity: 1;
}
